* {
        margin: 0;
        padding: 0;
    }
    
    .wrappers {
        width: 100%;
        margin: 0 auto;
    }
    
    .line {
        width: 100%;
        font-size: .1rem;
        line-height: normal;
    }
    
    .le {
        float: left;
        width: 25%;
        text-align: right;
        height: 24px;
        margin-top: .015rem;
        color: #777;
    }
    
    .mid {
        float: left;
        width: 20%;
        margin-left: 2%;
        color: #677;
    }
    
    .rig {
        float: left;
        width: 30%;
    }
    
    .clear {
        clear: both;
    }
    
    .form-control {
        width: 90%!important;
        height: 18px;
        margin: .02rem 0 0 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        padding: 2px 5px;
    }
    
    #dhcpswitch {
        height: 18px;
        margin-top: .02rem;
    }
    
    .btn {
        display: inline-block;
        margin: .01rem 0 0 0;
        height: 26px;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 2px;
        font-size: 14px;
        cursor: pointer;
    }
    
    .title-btn {
        font-size: .11rem;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        cursor: default;
        padding: 1px 3px;
        height: auto;
    }
    
    .btn-save {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    
    .btn-add {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }
    
    .btn-danger {
        display: block;
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
    
    .notice {
        width: 90%;
        margin: 0 auto;
        font-size: .085rem;
        color: #31708f;
    }
    .space{
        background-color: #fff;
        border-color: #fff;
        height: 24px;
        width: 19px;
        margin: .02rem 0 0 0;
    }
    
    hr {
        margin-top: 3px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
    }
    
    .hints {
        color: #8a6d3b;
        height: 24px;
        margin-top: .015rem;
        display: block;
    }
    #static-mask,#protocol{
    	height: 24px;
    	margin-top: .015rem;
    	border: 1px solid #ccc;
        border-radius: 2px;
        font-size: .095rem;
    }
    .mid-span{
    	display: block;
    	height: 24px;
    	margin-top: .015rem;

    }